@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LufgaLight';
  src: url(./assets/fonts/LufgaLight.woff) format('woff');
  font-weight: lighter;
}

@font-face {
  font-family: 'LufgaMedium';
  src: url(./assets/fonts/LufgaMedium.woff) format('woff');
  font-weight: bolder;
}

:root {
  --background: #121212;
  --foreground: #ffffff;
  --font-family-paragraph: 'LufgaLight', Helvetica, sans-serif;
  --font-family-heading: 'LufgaMedium', Helvetica, sans-serif;
  --font-family-button: 'LufgaMedium', Helvetica, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'LufgaLight', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  background-image: url('/images/bg-logo.svg');
  background-repeat: no-repeat;
  background-position: top;
}

.bold-font {
  font-family: var(--font-family-button)
}

.light-font {
  font-family: var(--font-family-paragraph);
}


.logo-slider {
  height: 15vh;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 82%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(250px*24);
  animation: scroll 140s linear infinite;
  gap: 4rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px*9));
  }
}

.slider {
  height: 48px;
  display: flex;
  align-items: center;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

/* .review-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 1rem;
  padding: 112px;
  overflow-x: auto;
  overflow: scroll;
} */

.custom-prev button,
.custom-next button {
  background-color: #E5FB6F; /* Button background */
  padding: 1rem 1.15rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
}

.custom-prev button:hover,
.custom-next button:hover {
  background-color: #F4FFB8;
}

