@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LufgaLight';
  src: url(./assets/fonts/LufgaLight.woff) format('woff');
  font-weight: lighter;
}

@font-face {
  font-family: 'LufgaMedium';
  src: url(./assets/fonts/LufgaMedium.woff) format('woff');
  font-weight: bolder;
}

  :root {
    --background: #121212;
    --foreground: #ffffff;
    --font-family-paragraph: 'LufgaLight', Helvetica, sans-serif;
    --font-family-heading: 'LufgaMedium', Helvetica, sans-serif;
    --font-family-button: 'LufgaMedium', Helvetica, sans-serif;
  }

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'LufgaLight', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.bold-font {
  font-family: var(--font-family-button)
}

.light-font {
  font-family: var(--font-family-paragraph);
}
